# Mac files
.DS_Store

# Web app dependencies and build
web-app/node_modules/
web-app/build/
web-app/.env.local
web-app/.env.development.local
web-app/.env.test.local
web-app/.env.production.local
web-app/.env
web-app/npm-debug.log*
web-app/yarn-debug.log*
web-app/yarn-error.log*
